<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your Note</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
   <div class="container" style="margin-top: 5%;">
       <div class="row">
           <h3>Note After</h3>
        </div>
        <div class="row">
           <p>You might want to bookmark this link</p>
           <pre style="white-space: pre-wrap">{{ note }}</pre>
       </div>
   </div>
</body>
</html>